.ProjectsContainer{
    width: 100%;
    margin-top: 5rem;

}
.project{
    margin-top: 10rem;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}
.projectleft{
    width: 50%;
}
.projectleft img{
    width: 500px;
}
.projectspart{
    width: 90%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.projectright{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.projectright h1{
    font-size: 50px;
}
.allprojects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    
}
.projectright p{
    /* color: gray; */
}
.allprojects p{
    color: gray;
}
.allprojects h2{
    color:  rgb(223, 36, 98);
}
.allprojects div{
    border:  2px solid white;
    padding: 20px 20px;
    box-shadow: 0px 3px 8px ;
    
}
